<%= form_with(model: cart) do |form| %>
  <% if cart.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(cart.errors.count, "error") %> prohibited this cart from being saved:</h2>

      <ul>
        <% cart.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!-- asks user to start shopping if there are not items in cart yet -->
  <% if @cart.cart_items.size == 0 %>
    <h3>You do not have any items in your cart yet.</h3>
    <%= link_to "Start Shopping!", books_path %>
  <% else %>
    <table>
      <thead>
      <tr>
        <th>Book</th>
        <th>Book Price</th>
        <th>Quantity</th>
        <th>Total Price</th>
        <th colspan="4"></th>
      </tr>
      </thead>

      <tbody>

      <!-- displays related cart items -->
      <% @cart.cart_items.each do |cart_item| %>
        <tr>
          <td><%= cart_item.book.name %></td>
          <td><%= cart_item.book.price %></td>
          <td><%= cart_item.quantity %></td>
          <td><%= number_to_currency(cart_item.total_price) %></td>
          <td><%= link_to 'View', cart_item_path(cart_item.id) %></td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <!-- auto populates credit card number, address, and phone from current_user's profile -->
    <div>
      <%= form.label :credit_card_number, style: "display: block" %>
      <%= form.text_field :credit_card_number, :required => 'required', value: current_user.credit_card_number %>
    </div>

    <div>
      <%= form.label :address, style: "display: block" %>
      <%= form.text_field :address, :required => 'required', value: current_user.address %>
    </div>

    <div>
      <%= form.label :phone_number, style: "display: block" %>
      <%= form.text_field :phone_number, :required => 'required', value: current_user.phone_number %>
    </div>

    <div class="field">
      <%= form.hidden_field :user_id, value: current_user.id %>
    </div><br><br>

    <div style="font-size:20px">
      <%= 'Cart Subtotal: ' + number_to_currency(@cart.cart_items.sum(:total_price)) %>
    </div><br>

    <!-- when transactions are created if valid (CartController#update) -->
    <div>
      <%=form.submit"Complete Purchase"%>
    </div>

    <br>
    <%= link_to "Keep Shopping", books_path %>
  <% end %>
<% end %>