<%= form_with(model: review) do |form| %>
  <% if review.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
        <% review.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>You are writing a review for the book: <b><%= @book.name %></b></p>

  <div class="field">
    <%= form.hidden_field :book_id, value: @book.id %>
  </div>

  <% if !current_user.nil? %>
    <div class="field">
      <%= form.hidden_field :user_id, value: current_user.id %>
    </div>
  <% end %>

  <% if !current_admin.nil? %>
    <div class="field">
      <%= form.hidden_field :admin_id, value: current_admin.id %>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :rating %>
    <%= form.number_field :rating, :id => 'rating', min: 1, max: 5 %>
  </div></br>


  <div>
    <%= form.label :review, style: "display: block" %>
    <%= form.text_area :review %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
